/* FOOTER STYLES */
footer {
    background: #fefdfd ;
    color: #111;
    padding: 48px 16px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
}

.footer-grid h3 {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-grid a {
    color: #111;
    text-decoration: none;
}

.footer-grid a:hover {
    color: #EC4899;
}

.footer-copy {
    text-align: center;
    margin-top: 24px;
    font-size: 12px;
    color: #777;
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
