.card-overlay button,
.card-overlay a {
    width: 36px;               /* fixed width */
    height: 36px;              /* fixed height */
    background: #f9a8d4;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* add transform transition */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card-overlay .wishlist-btn.active {
    background-color: #db2777 !important;
}

.card-overlay button:hover,
.card-overlay a:hover {
    background-color: #db2777;
    transform: scale(1.3);   
}
